{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

<style>
    .cells{
    display: inline;
    margin-right: 50px;
    padding: 3px;
    color:#4169E1;
     font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    }
</style>



</head>
<body id="bg" style="background-image: url('{% static "main/images/LOGIN.jpg" %}')">

<div align="center">
    <br>
    <br>
    <br>
    <br>
    <form class="cells" method="post">
       {% csrf_token %}

    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div align="center" class="form-error">{{ f.errors }}</div>
    {% endfor %}

      <p align="center"> <button  type="submit">REG</button> </p>
    </form>
</div>
 <p>

 </p>
</body>
</html>